@import '../../styles//partials/_fonts.scss';
@import '../../styles/partials/_mixins.scss';
.faq {
background-color: rgba(247, 149, 145, 0.2);
&__title {
    font-family: Italic;
    text-align:center;
    padding: 5vw 0;
    
}
&__questions {
    margin: 0 5vw;
    &--block {
        padding-bottom: 6vw;
        &__title {
            font-size: 6vw;
            text-align:unset;

        }
        &__para {
            font-size: 4vw;
            font-family: 'Montserrat';
            letter-spacing: -0.3vw;
            font-size: 5vw;
        }
    }
}
}