@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat//Montserrat-Regular.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url('./Montserrat//Montserrat-Medium.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat-Italic";
    src: url('./Montserrat//Montserrat-Italic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url('./Montserrat//Montserrat-Bold.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('./Montserrat//Montserrat-SemiBold.ttf') format('truetype')
}
@font-face {
    font-family: "Ephesis";
    src: url('./Ephesis-Regular.ttf') format('truetype')
}
@font-face {
    font-family: "Pacifico";
    src: url('./Pacifico-Regular.ttf') format('truetype')
}

@font-face {
    font-family: "Italic";
    src: url('../../fonts/autumn-in-november.regular.ttf') format('truetype')
}
@font-face {
    font-family: "Helvetica";
    src: url('./Helvetica-Font/Helvetica.ttf') format('truetype')
}