@import '../../styles//partials/_fonts.scss';
@import '../../styles/partials/_mixins.scss';
body, * {
  margin: 0;
  padding: 0;
}
.header{
  font-family: 'Pacifico';
    &__top{
      display: flex;
      background-color: rgba(247, 149, 145, 1);
      justify-content: space-between;
      padding: 3vw;
      position: relative;
      z-index: 9999;
      &--logo {
        width: 20vw;
        max-width: 120px;
      }
      &--menu {
        display: flex;
        align-items: center;
        &__image {
          width: 7vw;
          max-width: 30px;
        }
        &__image1{
          width: 8vw;
          // max-width: 30px;
        }
      }
    }
    &__nav {
      background-color: white;
      // opacity: 0;
      position: absolute;
      width: 100%;
    animation: fade1 1000ms ease-out;
      transform: translateY(-100vw);
      transition: transform 500ms ease-in ;
      // overflow: hidden;
      font-size: 4vw;
      &--subs{
        &__list {
          list-style-type: none;
          text-align: center;
          border-bottom: 0.3vw solid rgb(221, 221, 221);
          width: 50%;
          margin: auto;
          padding: 1vw;
          
        }
      }
    }
  }

.hero {
  // background-color: rgba(247, 149, 145, 0.2);
  background-image: linear-gradient(to top, white,rgba(242, 95, 90, 0.2), white );
  background-image: -webkit-linear-gradient(to top, white,rgba(242, 95, 90, 0.2), white );
  display: flex;
  justify-content: center;
  animation:fade 1s ease-in-out;
  height: 70vw;
  max-height: 600px;
  &__image {
    width: 100%;

    object-fit: contain;
  
}
}

li.header__nav--subs__list:last-child {
  border-bottom: none;
  margin-bottom: 2vw;
}
.active123 {
  animation: fade 1000ms ease-in-out;
  // opacity: 1;
  // animation: opacity 1s ease-in-out;
  transform: translateY(0);
  transition: transform 500ms ease-in-out ;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade1 {
  from {opacity: 1} 
  to {opacity: 0.4}
}