@import '../../styles//partials/_fonts.scss';
@import '../../styles/partials/_mixins.scss';
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-family: Italic;
        padding: 5vw 0;
        color:#f79591;
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 6vw;
        &--image {
            width: 25vw;
            padding: 1vw;
            opacity: 0;
            transition: opacity 500ms ease-in-out;
        }
    }
}